{% extends "base.html" %}
{% block style %}
<style>
  .col {
    border: 2px solid green;
    padding: 10px;
    margin: 2px;
    background-color: #536397;
    color: white;
  }
  h2 {
    color: #68e1f2;
  }
  .relay {
      cursor: pointer;
  }
  .pump-mode {
      cursor: pointer;
  }
  .pump-mode-active {
      background-color: white;
      color: #536397;
  }
  .pump-mode-inactive {

  }
</style>
{% endblock style %}
{% block javascript %}
<script>
    document.querySelector('.relays').addEventListener('click', relayClick);

    function relayClick(e) {
      let node = e.target;
      let tgt = null;
      while(node !== this){
          if(node.classList.contains("relay")){
              tgt = node.children[0];
              break;
          }
          node = node.parentNode;
      }
      if(tgt !== null) {
          if (tgt.classList.contains('fa-toggle-on')) {
              console.log('Turn off relay: ' + tgt.parentNode.id);
              tgt.classList.replace('fa-toggle-on', 'fa-toggle-off');
          } else if (tgt.classList.contains('fa-toggle-off')) {
              console.log('Turn on relay: ' + tgt.parentNode.id);
              tgt.classList.replace('fa-toggle-off', 'fa-toggle-on');
          }
      }
    }

    document.querySelector('.pump-modes').addEventListener('click', pumpModeClick);

    function pumpModeClick(e) {
      let node = e.target;
      let tgt = null;
      while(node !== this){
          if(node.classList.contains("pump-mode")){
              tgt = node;
              break;
          }
          node = node.parentNode;
      }
      if(tgt !== null) {
          changePumpMode(tgt.id.slice(10))
          document.querySelectorAll(".pump-mode").forEach(function(pumpMode) {
              if (tgt === pumpMode) {
                  console.log('Turn on pump mode: ' + pumpMode.id);
                  pumpMode.classList.replace('pump-mode-inactive', 'pump-mode-active');
              }
              else {
                  console.log('Turn off pump mode: ' + pumpMode.id);
                  pumpMode.classList.replace('pump-mode-active', 'pump-mode-inactive');
              }
          })
      }
    }

    async function postData(url = '', data = {}) {
        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify(data)
        });
        return response.json();
    }

    function changePumpMode(pumpMode) {
        postData('{% url "ajax-pump-mode" %}', {'pump-mode': pumpMode})
        .then(data => {
            console.log(data);
        })
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
</script>
{% endblock javascript %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Temps</h2>
        {% for sensor in sensors %}
            {{ sensor.name }}: {{ sensor.get_temp_f }}<br />
        {% endfor %}
    </div>
    <div class="col relays">
      <h2>Relays</h2>
        {% for relay in relays %}
            {{ relay.name }}:
            <span style="font-size: 2em;" class="relay" id="relay-{{ relay.id }}">
            {% if relay.get_state == True %}
                <i class="fas fa-toggle-on"></i>
            {% elif relay.get_state == False %}
                <i class="fas fa-toggle-off"></i>
            {% else %}
                <i class="fas fa-question-circle"></i>
            {% endif %}
            </span>
            <br />
        {% endfor %}
    </div>
    <div class="col pump-modes">
      <h2>Pumps</h2>
        {% for pump in pumps %}
            <h3>{{ pump.name }}</h3>
            {% for k, v in pump.get_status.items %}
                {{ k }}: {{ v }}<br />
            {% endfor %}
            <span class="fa-layers fa-fw fa-2x pump-mode pump-mode-{% if pump.get_status.mode == 1 %}active{% else %}inactive{% endif %}" id="pump-mode-1">
              <i class="far fa-circle"></i>
              <strong class="fa-layers-text" data-fa-transform="shrink-6">1</strong>
            </span>
            <span class="fa-layers fa-fw fa-2x pump-mode pump-mode-{% if pump.get_status.mode == 2 %}active{% else %}inactive{% endif %}" id="pump-mode-2">
              <i class="far fa-circle"></i>
              <strong class="fa-layers-text" data-fa-transform="shrink-6">2</strong>
            </span>
            <span class="fa-layers fa-fw fa-2x pump-mode pump-mode-{% if pump.get_status.mode == "Quick Clean" %}active{% else %}inactive{% endif %}" id="pump-mode-qc">
              <i class="far fa-circle"></i>
              <strong class="fa-layers-text" data-fa-transform="shrink-9">QC</strong>
            </span>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
