{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Temps</h2>
        {% for sensor in sensors %}
            {{ sensor.name }}: {{ sensor.get_temp_f }}<br />
        {% endfor %}
    </div>
    <div class="col">
      <h2>Relays</h2>
        {% for relay in relays %}
            {{ relay.name }}:
            {% if relay.get_state == True %}
                <span style="font-size: 3em; color: red;">
                    <i class="fas fa-toggle-on"></i>
                </span>
            {% elif relay.get_state == False %}
                <span style="font-size: 3em; color: green;">
                    <i class="fas fa-toggle-off"></i>
                </span>
            {% else %}
                <span style="font-size: 3em; color: darkred;">
                    <i class="fas fa-question-circle"></i>
                </span>
            {% endif %}
            <br />
        {% endfor %}
    </div>
    <div class="col">
      <h2>Pumps</h2>
        {% for pump in pumps %}
            {{ pump.name }}: {{ pump.get_speed }}<br />
        {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
